version: '3.8'
services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - default

  backend:
    build:
      context: .
      dockerfile: chores/Dockerfile
    restart: always # Added restart policy
    ports:
      - "5001:5000"
    environment:
      - DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}
      - SECRET_KEY=${SECRET_KEY}
      - MAIL_USERNAME=${MAIL_USERNAME}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - MAIL_DEFAULT_SENDER=${MAIL_DEFAULT_SENDER}
      # Make sure to add your new PM_ variables to your .env file!
      - PM_BASE_URL=${PM_BASE_URL}
      - PM_LOOKUP_PATH=${PM_LOOKUP_PATH}
      - PM_DEPOSIT_PATH=${PM_DEPOSIT_PATH}
      - ALLOWED_ORIGINS=${ALLOWED_ORIGINS}
    depends_on:
      - db
    networks:
      - default
      - pocket_money_net # Connects to the other app
      - proxy_network

  frontend:
    build:
      context: ./frontend
      args:
        - VITE_API_URL=${VITE_API_URL}
    ports:
      - "8080:80"
    restart: always # Added restart policy
    depends_on:
      - backend
    networks:
      - default
      - proxy_network

networks:
  # This tells Docker to look for your existing Pocket Money network
  pocket_money_net:
    external:
      name: forddbs_default
  proxy_network:
    external: true

volumes:
  postgres_data:
